doctype
html.no-js(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Тестовое задание
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/styles.min.css')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | Ваш браузер устарел.
      | Пожалуйста, <a href="http://browsehappy.com/">обновите Ваш браузер</a> до актуальной версии.
    <![endif]-->

    #wrapper.container
      <!-- Nav tabs -->
      ul.nav.nav-tabs(role="tablist")
        li.active(role="presentation"): a(href="#persons", aria-controls="home", role="tab", data-toggle="tab") Persons
        li(role="presentation"): a(href="#users", aria-controls="user", role="tab", data-toggle="tab") Users
        li(role="presentation"): a(href="#positions", aria-controls="position", role="tab", data-toggle="tab") Positions
        li(role="presentation"): a(href="#departments", aria-controls="department", role="tab", data-toggle="tab") Departments
        li(role="presentation"): a(href="#companies", aria-controls="company", role="tab", data-toggle="tab") Companies

      <!-- Tab panes -->
      .tab-content
        #persons.tab-pane.active(role="tabpanel")
          <!-- Table -->
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th person_id
                th first_name
                th last_name
                th middle_name
                th email
                th phone_number
                th actions
            tbody
              tr
                td.text-center(colspan="7") Loading...

          button.btn.btn-primary(type="button", data-toggle="modal", data-target="#createPersonsModal") Create
          <!-- Create person modal -->
          #createPersonsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="createPersonsLabel")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                  h4#createPersonLabel.modal-title Create person
                .modal-body
                  form.form-horizontal
                    .form-group
                      label.col-sm-3.control-label(for='first_name') First name
                      .col-sm-9
                        input#first_name.form-control(type='text', name='first_name')
                    .form-group
                      label.col-sm-3.control-label(for='last_name') Last name
                      .col-sm-9
                        input#last_name.form-control(type='text', name='last_name')
                    .form-group
                      label.col-sm-3.control-label(for='middle_name') Middle name
                      .col-sm-9
                        input#middle_name.form-control(type='text', name='middle_name')
                    .form-group
                      label.col-sm-3.control-label(for='email') Email
                      .col-sm-9
                        input#email.form-control(type='email', name='email')
                    .form-group
                      label.col-sm-3.control-label(for='phone_number') Phone
                      .col-sm-9
                        input#phone_number.form-control(type='text', name='phone_number')
  
                .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") Close
                  button.btn.btn-primary(type="button", role="button") Create


        #users.tab-pane(role="tabpanel") 
          <!-- Table -->
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th user_id
                th nickname
                th department_id
                th person_id
                th position_id
                th super_user
                th actions
            tbody
              tr
                td.text-center(colspan="7") Loading...

          button.btn.btn-primary(type="button", data-toggle="modal", data-target="#createUsersModal") Create
          <!-- Create user modal -->
          #createUsersModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="createUsersLabel")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                  h4#createUserLabel.modal-title Create user
                .modal-body
                  form.form-horizontal
                    .form-group
                      label.col-sm-3.control-label(for='nickname') Nickname
                      .col-sm-9
                        input#nickname.form-control(type='text', name='nickname')
                    .form-group
                      label.col-sm-3.control-label(for='department_id') Department ID
                      .col-sm-9
                        input#department_id.form-control(type='number', name='department_id')
                    .form-group
                      label.col-sm-3.control-label(for='person_id') Person ID
                      .col-sm-9
                        input#person_id.form-control(type='number', name='person_id')
                    .form-group
                      label.col-sm-3.control-label(for='position_id') Position ID
                      .col-sm-9
                        input#position_id.form-control(type='number', name='position_id')
                    .form-group
                      label.col-sm-3.control-label(for='super_user') Superuser
                      .col-sm-9
                        .checkbox
                          label
                            input(type='checkbox', name='super_user')
                .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") Close
                  button.btn.btn-primary(type="button", role="button") Create
        #positions.tab-pane(role="tabpanel")
          <!-- Table -->
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th position_id
                th position_name
                th salary
                th actions
            tbody
              tr
                td.text-center(colspan="4") Loading...

          button.btn.btn-primary(type="button", data-toggle="modal", data-target="#createPositionsModal") Create
          <!-- Create position modal -->
          #createPositionsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="createPositionsLabel")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                  h4#createPositionsLabel.modal-title Create position
                .modal-body
                  form.form-horizontal
                    .form-group
                      label.col-sm-3.control-label(for='position_name') Position name
                      .col-sm-9
                        input#position_name.form-control(type='text', name='position_name')
                    .form-group
                      label.col-sm-3.control-label(for='salary') Salary
                      .col-sm-9
                        input#salary.form-control(type='text', name='salary')
                .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") Close
                  button.btn.btn-primary(type="button", role="button") Create
        
        #departments.tab-pane(role="tabpanel") 
          <!-- Table -->
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th department_id
                th department_name
                th company_id
                th actions
            tbody
              tr
                td.text-center(colspan="4") Loading...

          button.btn.btn-primary(type="button", data-toggle="modal", data-target="#createDepartmentsModal") Create
          <!-- Create department modal -->
          #createDepartmentsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="createDepartmentsLabel")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                  h4#createDepartmentsLabel.modal-title Create department
                .modal-body
                  form.form-horizontal
                    .form-group
                      label.col-sm-3.control-label(for='department_name') Department name
                      .col-sm-9
                        input#department_name.form-control(type='text', name='department_name')
                    .form-group
                      label.col-sm-3.control-label(for='company_id') Company ID
                      .col-sm-9
                        input#company_id.form-control(type='number', name='company_id')
                .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") Close
                  button.btn.btn-primary(type="button", role="button") Create
        
        #companies.tab-pane(role="tabpanel")
          <!-- Table -->
          table.table.table-bordered.table-hover.table-striped
            thead
              tr
                th company_id
                th company_name
                th description
                th logo
                th actions
            tbody
              tr
                td.text-center(colspan="5") Loading...

          button.btn.btn-primary(type="button", data-toggle="modal", data-target="#createCompaniesModal") Create
          <!-- Create companies modal -->
          #createCompaniesModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="createCompaniesLabel")
            .modal-dialog(role="document")
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
                  h4#createCompaniesLabel.modal-title Create company
                .modal-body
                  form.form-horizontal
                    .form-group
                      label.col-sm-3.control-label(for='company_name') Company name
                      .col-sm-9
                        input#company_name.form-control(type='text', name='company_name')
                    .form-group
                      label.col-sm-3.control-label(for='description') Description
                      .col-sm-9
                        textarea#description.form-control(name='description', rows="3")
                    .form-group
                      label.col-sm-3.control-label(for='logo') Logo
                      .col-sm-9
                        input#logo(type="file", name='logo')
                .modal-footer
                  button.btn.btn-default(type="button", data-dismiss="modal") Close
                  button.btn.btn-primary(type="button", role="button") Create




    script(src='js/app.min.js')